/*
Palette: https://colorhunt.co/palette/18378
#303841
#3A4750
#F6C90E
#EEEEEE
*/

body {
  margin: 0;
  background-color: #303841;
  color: #eeeeee;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #FFFFFF;
}

a:hover, a:active {
  color: #F6C90E;
}

#root {
  padding: 8px;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root > header, #root > footer, #root > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-right: auto;
  margin-left: auto;
  font-family: 'Jockey One', sans-serif;
  font-size: 60px;
}

footer {
  font-size: .75em;
}

.clickableHeader {
  cursor: pointer;
}

.logoImage {
  width: 250px;
  transition: all .5s linear;
}

.logoImageSmall {
  width: 50px;
}

.verdictText {
  font-size: 20px;
}

.verdictTextNumber {
  font-size: 26px;
}

.dropzoneBaseStyle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 140px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #303841;
  color: #eeeeee;
  outline: none;
  transition: border .24s ease-in-out;
  font-size: 24px;
}

.dropzoneActiveStyle {
  border-color: #2196f3;
}

.dropzoneAcceptStyle {
  border-color: #f6c90e;
}

.dropzoneRejectStyle {
  border-color: #ff1744;
}

.examplesDescription {
  margin-bottom: 1em;
  width: 300px;
  text-align: center;
}

.defaultButton {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.defaultButton:hover {
  color: #303841;
  background-color: #F6C90E;
  cursor: pointer;
}